{{relative-form relative=model parents=parents value=model.parentRailsId save=save cancel=cancel}}
<div class="form-group">
  <div class="btn-group">
    <btn class="btn btn-primary" {{action 'save'}}>
      <i class="fa fa-check"></i>
      Save
    </btn>

    <btn class="btn btn-default" {{action 'cancel'}}>
      <i class="fa fa-times"></i>
      Cancel
    </btn>
  </div>
</div>