<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'relatives.index' classNames="navbar-brand"}}Using Ancestry/Self-Join Relationships in Ember.JS{{/link-to}}
      </div>
    </div>
  </nav>
  {{outlet}}
  <h6>Current Issues</h6>
  <ul class="small text-muted">
    <li><strong>Still working on redirects after updating.</strong> Currently it will update in the DB, but Ember transitions you back to a now non-existant route. Breaks on reload.</li>
    <li>When creating a new <code>relative</code> you can't set their <code>parent</code> for some reason; but you can on <code>edit</code>.</li>
    <li>Refreshing the page will help you see how it has <em>actually</em> saved.</li>
  </ul>
</div>

