<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'relatives.index' classNames="navbar-brand"}}Using Ancestry/Self-Join Relationships in Ember.JS{{/link-to}}
      </div>
    </div>
  </nav>
  {{outlet}}
  <div class="small text-muted">
    Still working on redirects after updating, and some CRUD functions.
  </div>
</div>

