<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#link-to 'relatives.index' classNames="navbar-brand"}}Using Ancestry/Self-Join Relationships in Ember.JS{{/link-to}}
      </div>
    </div>
  </nav>
  {{outlet}}
  <dl class="text-muted small">
    <dt>Current Issues</dt>
    <dd>I get console errors because Ember gets back different info than it expects. But it updates the information correctly.</dd>
    <dd>Seriously need to refactor some of the code. There's a fair bit of repetition in the methods.</dd>
  </dl>

