<div class="form-group">
  <h1>
    Hey,
    {{#if relative.name}}
      My name is {{relative.name}}.
    {{else}}
      I need a name...
    {{/if}}
  </h1>
</div>
<div class="form-group">
  <label class="control-label">
    Name
  </label>
  {{input type='text' value=relative.name class="form-control input-group-large"}}
</div>
<div class="form-group">
  <label class="control-label">
    Child Of
  </label>
  {{view Ember.Select content=parents optionValuePath="content.id" optionLabelPath="content.name" value=relative.parentRailsId class="form-control" prompt="None"}}
</div>